* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: hell;
}

html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: hell;
  src: url(../HelveticaNeue-Medium.otf);
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(126, 235, 235);
  padding: 10px;
  display: flex;
  gap:15px;
}

#card {
  height: 350px;
  width: 280px;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.301);
  gap:20px;
  display:flex;
  padding:20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
#card h3{
  font-size: 27px;
}
#card p{
  text-align: center;
  color:#888;
}
#card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
#card button{
  color:white;
  background-color:royalblue;
  padding:12px 32px;
  border-radius: 20px;
  border: 2px solid blue;
}
#card button:hover{
  background-color: transparent;
  color:black
}