*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width:100%
}
@mixin button-style($bg:blue,$clr){
  background-color: $bg;
  color:$clr;
  padding:10px 15px;
  border:none;
  border-radius: 15px;
}
#btn1{
  @include button-style(pink,blue);
}
#btn2{
  @include button-style(yellow,black);
}