*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body,html{
  width: 100%;
  height: 100%;
}
/* #bg{
  height: 100%;
  width: 100%;
  background-image: url(./Barca\ Champions\ League.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
   background-size: cover; 
} */
#padmar{
  background-color: red;
  height:100px;
  width: 100px;
  margin:5px;
  
}