*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
  height: 100%;
  width: 100%;
  background-color: black;
}
button{
  padding:1rem 2rem;
  margin: 10rem;
  background-color: cyan;
  border-radius: 1rem;
  color: white;
  border: none;
  font-weight: 600;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
}
button:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,
  0 0 50px cyan,
  0 0 75px cyan,
  0 0 100px cyan;
}
