*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height:100%;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas: "header header header"
                        "section section section"
                        "div1 div2 div3";
  background-color: black;
                      }
header{
  background-color: red;
  grid-area: header;
}

section{
  background-color: blue;
  grid-area: section;
}
#div1{
  background-color: pink;
  grid-area: div1;
}
#div2{
  background-color: yellow;
  grid-area: div2;
}
#div3{
  background-color: purple;
  grid-area: div3;
}