*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height:100%;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 2.5fr 2fr;
  grid-template-areas: "header header"
                        "aside section"
                        "footer footer";
  background-color: black;
                      }
header{
  background-color: red;
  grid-area: header;
}
aside{
  background-color: yellow;
  grid-area: aside;
}
section{
  background-color: blue;
  grid-area: section;
}
footer{
  background-color: pink;
  grid-area: footer;
}