*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width:100%;
  background-color: black;
  display: grid;
  grid-template-columns: 100px 1fr minmax(100px,auto) ;
  grid-template-rows: repeat(3,1fr);
  /* align-items and align-content: ; */
  /* justify-content and justify-items: ; */
  gap: 10px;
  /* rowgap and columngap */
}
#child1{
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  
  grid-row-end: 2;
}
#child2{
  background-color: blue;
  grid-row: 1/3;
  grid-column: 2/3;
}