*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height:100%;
  width: 100%;
  
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes boxanimation {
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
  
}


.card{
  width:300px;
  padding-bottom: 10px;
  background-color: black;
  display: flex;
  gap:10px;
  border-radius: 10px;
  flex-direction: column;
  padding-inline: 10px;
  border:0px solid transparent;
  box-shadow: 0 0 0px rgb(255,0,123);
  background: linear-gradient(black )padding-box,
  conic-gradient(from var(--rotate),black, rgb(255,0,123),black) border-box;
  animation: boxanimation 5s ;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  transition: all 0.3s linear;
  color: whitesmoke;
}

.card:hover{
  border: 5px solid transparent;
  box-shadow: 0 0 50px rgb(255,0,123);
  animation-play-state: running;
  color: rgb(255,0,123);
  text-shadow: 0 0 10px rgb(255,0,123);

}


.card img{  
  width: 100%;;
}
