*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width: 100%;
  
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width:300px;
  height: 400px;
  background-color: black;
  display: flex;
  gap:10px;
  border-radius: 10px;
  flex-direction: column;
  padding-inline: 10px;
  border: 2px solid rgb(249, 17, 195);
}
.card img{
  height:70%;
  width: 100%;;
}
.card h1, .card p{
  color: whitesmoke;
}