*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
width: 100%;
}
#main{
  height:100%;
  width:100%;
  background-color: black;
  
}
#nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height:8%;
  width: 100%;
  background-color: rgb(29, 28, 28);
}
#nav h4{
  margin: 15px;
  color:white;
  font-family: Helvetica;
  font-weight: 400;
}
#mid{
  text-align: center;
  padding: 25px;
  font-family: helvetica;
  
}
#mid h1{
  color: white;
  font-size: 60px;
  font-weight: lighter;
}
#mid h2{
  color: white;
  font-size: 32px;
  font-weight: 100;
}
#btndiv{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:15px;
}
#btndiv button:nth-child(1){
  background-color: rgb(89, 89, 232);
  border-radius: 20px;
  margin-top: 10px;
  padding: 12px 20px;
  font-family: sans-serif;
  color: white;
  font-weight: lighter;
  border:1px solid blue;
}
#btndiv button:nth-child(2){
  background-color: transparent;
  border-radius: 20px;
  margin-top: 10px;
  padding: 12px 20px;
  font-family: sans-serif;
  color: rgb(38, 38, 212);
  font-weight: lighter;
  border:1px solid rgb(38, 38, 212);
}