*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:100%;
  height:5rem;
  background-color: azure;
  justify-content: space-between;
  padding:3rem;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: black;
}
h3{
  font-size: 1.5rem;
  font-family:'Arial Narrow Bold';
}
#left,#right{
  display: flex;
  gap:3rem;
}
section{
  padding:2rem;
}
section>h1{
  font-size: 17rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
aside{
  width:20%;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding:2rem;
}
aside h4{
  font-size: 1.2 rem;
}
aside p{
  font-size: 0.9rem;
}
#abd img:nth-child(1){
  position:absolute;
  height: 17rem;
  width:13rem;
  top:63%;
  left:65%;
  object-fit: cover;
  object-position: center;
  z-index: 3;

}
#abd img:nth-child(2){
  position:absolute;
  height: 13rem;
  width:13rem;
  top:88%;
  left:52%;
  object-fit: cover;
  object-position: center;
z-index: 2;
}
#abd img:nth-child(3){
  position:absolute;
  height: 13rem;
  width:13rem;
  top:73.7%;
  left:40%;
  object-fit: cover;
  object-position: center;

}

